Repository boostcamp-2020/Project16-A-Account-Book, pull requests merged in 2020-11, with the labels that each got.

#30 PriceTag 컴포넌트 생성
  fe/.eslintrc.js
  fe/.storybook/main.js
  fe/.storybook/webpack.config.js
  fe/package-lock.json
  fe/package.json
  fe/src/components/atoms/PriceTag/PriceTag.stories.tsx
  fe/src/components/atoms/PriceTag/index.tsx
  fe/src/components/atoms/PriceTag/style.ts
  fe/src/styles/theme.ts
  fe/yarn.lock
Labels: Atoms, Front 💖

#35 [BE] MongoDB 초기 설정.
  .gitignore
  be/.eslintrc.js
  be/package.json
  be/src/.env-template
  be/src/app.ts
  be/src/config/index.ts
  be/src/models/index.ts
  be/yarn.lock
Labels: Back 💙, Setting ⚙️

#31 Feat: #17 아이콘 컴포넌트 생성
  fe/src/assets/svg/github.svg
  fe/src/assets/svg/plus.svg
  fe/src/components/atoms/Icons/index.stories.tsx
  fe/src/components/atoms/Icons/index.tsx
  fe/src/components/atoms/Icons/style.ts
  fe/src/styles/theme.ts
Labels: Atoms, Front 💖

#48 Feature/main header
  fe/package.json
  fe/src/components/atoms/Button/style.ts
  fe/src/components/molecules/TotalBox/TotalBox.stories.tsx
  fe/src/components/molecules/TotalBox/index.tsx
  fe/src/components/molecules/TotalBox/style.ts
  fe/src/components/organisms/MonthInfoHeader/MonthInfoHeader.stories.tsx
  fe/src/components/organisms/MonthInfoHeader/index.tsx
  fe/src/components/organisms/MonthInfoHeader/style.ts
  fe/src/styles/theme.ts
  fe/yarn.lock
Labels: Front 💖, High 🥇, Molecules, Organisms

#46 AccountDate 컴포넌트 레이아웃 작성
  fe/src/assets/svg/doubleArrow.svg
  fe/src/assets/svg/lock.svg
  fe/src/components/atoms/Button/index.tsx
  fe/src/components/atoms/Button/style.ts
  fe/src/components/atoms/DateAtom/index.stories.tsx
  fe/src/components/atoms/DateAtom/index.tsx
  fe/src/components/atoms/DateAtom/style.ts
  fe/src/components/atoms/Icons/index.tsx
  fe/src/components/atoms/PriceTag/index.tsx
  fe/src/components/molecules/DateMoneyHeader/index.stories.tsx
  fe/src/components/molecules/DateMoneyHeader/index.tsx
  fe/src/components/molecules/DateMoneyHeader/style.ts
  fe/src/components/molecules/Transaction/index.stories.tsx
  fe/src/components/molecules/Transaction/index.tsx
  fe/src/components/molecules/Transaction/style.ts
  fe/src/components/organisms/AccountDate/index.stories.tsx
  fe/src/components/organisms/AccountDate/index.tsx
  fe/src/components/organisms/AccountDate/style.ts
  fe/src/styles/theme.ts
  fe/src/utils/parseDate.test.ts
  fe/src/utils/parseDate.ts
  package.json
  yarn.lock
Labels: Front 💖, Molecules, Organisms

#50 DropdownHeader 컴포넌트 생성
  fe/.eslintrc.js
  fe/src/components/molecules/DropdownHeader/DropdownHeader.stories.tsx
  fe/src/components/molecules/DropdownHeader/index.tsx
  fe/src/components/molecules/DropdownHeader/style.ts
Labels: Front 💖, High 🥇, Molecules

#62 프로젝트 폴더구조 개선
  be/package.json
  be/src/app.ts
  be/src/controllers/auth/index.ts
  be/src/controllers/transaction/index.ts
  be/src/models/transaction.ts
  be/src/routers/api/auth/index.ts
  be/src/routers/api/index.ts
  be/src/routers/api/transaction/index.ts
  be/src/routers/index.ts
  be/src/services/transaction/index.ts
  be/tsconfig.json
  be/yarn.lock
  fe/public/favicon.ico
  fe/public/index.html
  fe/public/logo192.png
  fe/public/logo512.png
  fe/public/manifest.json
  fe/public/robots.txt
  fe/src/App.css
  fe/src/App.tsx
  fe/src/apis/urls/index.ts
  fe/src/components/templates/tempTemplate/index.ts
  fe/src/index.css
  fe/src/index.tsx
  fe/src/logo.svg
  fe/src/pages/MainPage/index.tsx
  fe/src/react-env-app.d.ts
  fe/src/reportWebVitals.ts
Labels: Back 💙, Front 💖, Setting ⚙️

#61 글로벌 스타일 지정 및 ThemeProvider와 합침
  fe/src/components/atoms/Button/index.tsx
  fe/src/components/atoms/PriceTag/PriceTag.stories.tsx
  fe/src/styles/GlobalStyle.ts
  fe/src/styles/GlobalThemeProvider.tsx
Labels: Front 💖

#63 체크박스 컴포넌트 생성
  fe/src/assets/svg/check.svg
  fe/src/components/molecules/Checkbox/Checkbox.stories.tsx
  fe/src/components/molecules/Checkbox/index.tsx
  fe/src/components/molecules/Checkbox/style.ts
  fe/src/components/organisms/MonthInfoHeader/style.ts
  fe/src/styles/theme.ts
Labels: Front 💖, Molecules

#55 Transaction GET / POST API 구현
  README.md
  be/package-lock.json
  be/package.json
  be/src/controller/transaction/index.ts
  be/src/models/transaction.ts
  fe/src/assets/svg/calendar.svg
  fe/src/assets/svg/graph.svg
  fe/src/assets/svg/home.svg
  fe/src/assets/svg/tag.svg
  fe/src/components/atoms/Button/style.ts
  fe/src/components/atoms/Icons/index.stories.tsx
  fe/src/components/atoms/Icons/index.tsx
  fe/src/components/molecules/IconButton/index.stories.tsx
  fe/src/components/molecules/IconButton/index.tsx
  fe/src/components/molecules/IconButton/style.ts
  fe/src/components/molecules/TotalBox/TotalBox.stories.tsx
  fe/src/components/molecules/TotalBox/index.tsx
  fe/src/components/molecules/TotalBox/style.ts
  fe/src/components/molecules/Transaction/index.stories.tsx
  fe/src/components/molecules/Transaction/index.tsx
  fe/src/components/molecules/Transaction/style.ts
  fe/src/components/organisms/AccountDate/index.tsx
  fe/src/components/organisms/MonthInfoHeader/MonthInfoHeader.stories.tsx
  fe/src/components/organisms/MonthInfoHeader/index.tsx
  fe/src/styles/theme.ts
  fe/yarn.lock
Labels: Back 💙

#67 메인 페이지 컴포넌트 생성
  be/package.json
  be/src/app.ts
  be/src/controller/transaction/index.ts
  be/yarn.lock
  fe/.env_sample
  fe/package.json
  fe/src/App.tsx
  fe/src/assets/svg/calendar.svg
  fe/src/assets/svg/graph.svg
  fe/src/assets/svg/home.svg
  fe/src/assets/svg/search.svg
  fe/src/assets/svg/tag.svg
  fe/src/components/molecules/IconButton/index.stories.tsx
  fe/src/components/molecules/IconButton/index.tsx
  fe/src/components/molecules/IconButton/style.ts
  fe/src/components/molecules/TotalBox/TotalBox.stories.tsx
  fe/src/components/molecules/TotalBox/index.tsx
  fe/src/components/molecules/TotalBox/style.ts
  fe/src/components/molecules/Transaction/index.stories.tsx
  fe/src/components/molecules/Transaction/index.tsx
  fe/src/components/molecules/Transaction/style.ts
  fe/src/components/organisms/AccountDate/index.stories.tsx
  fe/src/components/organisms/AccountDate/index.tsx
  fe/src/components/organisms/FilterBar/index.stories.tsx
  fe/src/components/organisms/FilterBar/index.tsx
  fe/src/components/organisms/FilterBar/style.ts
  fe/src/components/organisms/HeaderBar/index.stories.tsx
  fe/src/components/organisms/HeaderBar/index.tsx
  fe/src/components/organisms/HeaderBar/style.ts
  fe/src/components/organisms/MonthInfoHeader/MonthInfoHeader.stories.tsx
  fe/src/components/organisms/MonthInfoHeader/index.tsx
  fe/src/components/templates/HeaderNav/index.stories.tsx
  fe/src/components/templates/HeaderNav/index.tsx
  fe/src/components/templates/HeaderNav/style.ts
  fe/src/components/templates/tempTemplate/index.ts
  fe/src/index.tsx
  fe/src/pages/MainPage/index.stories.tsx
  fe/src/pages/MainPage/index.tsx
  fe/src/pages/MainPage/style.ts
  fe/src/react-app-env.d.ts
  fe/src/stores/Transaction/index.ts
  fe/src/stores/Transaction/testData.ts
  fe/yarn.lock
Labels: Front 💖, High 🥇, Pages

#75 글로벌 font 적용
  be/package.json
  be/yarn.lock
  fe/src/components/molecules/DateMoneyHeader/style.ts
  fe/src/styles/GlobalStyle.ts
  fe/yarn.lock
Labels: Back 💙, Front 💖

#77 메인 페이지 구조 변경
  fe/src/components/organisms/AccountDate/index.tsx
  fe/src/components/organisms/AccountDate/style.ts
  fe/src/components/organisms/NavBar/style.ts
  fe/src/pages/MainPage/TransactionDateList.tsx
  fe/src/pages/MainPage/index.tsx
  fe/src/pages/MainPage/style.ts
Labels: Front 💖
